/*!

  =========================================================
  * Paper Dashboard PRO - V1.2.1
  =========================================================

  * Product Page: https://www.creative-tim.com/product/paper-dashboard-pro
  * Available with purchase of license from https://www.creative-tim.com/product/paper-dashboard-pro
  * Copyright 2017 Creative Tim (https://www.creative-tim.com)
  * License Creative Tim (https://www.creative-tim.com/license)

  =========================================================

*/

@import "paper/variables";
@import "paper/mixins";

// Core CSS
@import "paper/typography";
@import "paper/sidebar-and-main-panel";
@import "paper/buttons";
@import "paper/misc";
@import "paper/inputs";
@import "paper/progress-bars";
@import "paper/sliders";
@import "paper/forms";
@import "paper/alerts";
@import "paper/tables";
@import "paper/tooltips-and-popovers";
@import "paper/navbars";
@import "paper/footers";
@import "paper/cards";
@import "paper/timeline";
@import "paper/labels";
@import "paper/chat-message";
@import "paper/checkbox-radio";

// Fancy Stuff
@import "paper/dropdown";
@import "paper/social";
@import "paper/tags";
@import "paper/collapse";
@import "paper/carousel";
@import "paper/animated-buttons";
@import "paper/switch";

//SCSS for Pages
@import "paper/pages";

@import "paper/tabs-navs-pagination";
@import "paper/circlechart";

@import "paper/responsive";

@import "fixes";
