.fileGridFlexContainer{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.fileGridIconBlock{
    min-width: 220px;
    width: 240px;
    flex-grow: 1;
    flex-basis: 0;
    margin-top: 16px;
    margin-right: 20px;
    border: 1px solid #e8eaed;
    border-radius: 6px;
    height: 48px;
    user-select: none;

    .innerWrapper{
        display: flex;
        align-items: center;
        height: 100%;
    }

    .fileGridIcon{
        padding: 0 16px 0 16px;
        width: 68px;
        position: relative;
        float: left;
    }

    .fileName{
        width: calc(100% - 68px);
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &:hover, &:focus{
        background: #ddd;
    }

    &.focused{
        border: 2px solid #509db5;
        background: #bed6dd;
        &:hover{
            background: darken(#bed6dd, 5%);
        }
    }
}

.fileGridPlaceholder{
    min-width: 220px;
    width: 240px;
    flex-grow: 1;
    flex-basis: 0;
    margin-right: 20px;
    height: 2px;
}