{% extends 'base_template.html' %}
{% load static %}
{% load gravatar %}
{% block body_content %}
<div class="wrapper">
  <div class="sidebar" data-background-color="white" data-active-color="danger">
    <!--
    Tip 1: you can change the color of the sidebar's background using: data-background-color="white | brown"
    Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
  -->
  <div class="logo">
    <a href="/" class="simple-text logo-mini">
       <img src="{% static 'img/ksu-logo.svg' %}" alt="Powercat Logo" height=30>
    </a>

    <a href="/" class="simple-text logo-normal">
       <img src="{% static 'img/ksu-logo.svg' %}" alt="Powercat Logo" height=30>
       Synapse
    </a>
  </div>
  <div class="sidebar-wrapper">
    {% if user.is_authenticated %}
    <div class="user">
      <div class="photo">
        {% gravatar user.profile.primary_email.email 34 %}
        <!--<img src="{% static 'img/faces/face-2.jpg' %}" />-->
      </div>
      <div class="info">
        <a data-toggle="collapse" href="#collapseExample" class="collapsed">
          <span>
            {{ user }}
            <b class="caret"></b>
          </span>
        </a>
        <div class="clearfix"></div>

        <div class="collapse" id="collapseExample">
          <ul class="nav">
            <li>
              <a href="/accounts/profile">
                <span class="sidebar-mini">Mp</span>
                <span class="sidebar-normal">My Profile</span>
              </a>
            </li>
            <li>
              <a href="#edit">
                <span class="sidebar-mini">Ep</span>
                <span class="sidebar-normal">Edit Profile</span>
              </a>
            </li>
            <li>
              <a href="/accounts/logout">
                <span class="sidebar-mini">L</span>
                <span class="sidebar-normal">Logout</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    {% endif %}
    <ul class="nav">
      {% block navigation %}
      <!--<li>
        <a data-toggle="collapse" href="#dashboardOverview">
          <i class="ti-panel"></i>
          <p>Dashboard
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="dashboardOverview">
          <ul class="nav">
            <li>
              <a href="#">
                <span class="sidebar-mini">O</span>
                <span class="sidebar-normal">Overview</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="sidebar-mini">S</span>
                <span class="sidebar-normal">Stats</span>
              </a>
            </li>
          </ul>
        </div>
      </li>-->
      <!--<li class="active">
        <a data-toggle="collapse" href="#componentsExamples" aria-expanded="true">
          <i class="ti-package"></i>
          <p>Components
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse in" id="componentsExamples">
          <ul class="nav">
            <li>
              <a href="#">
                <span class="sidebar-mini">B</span>
                <span class="sidebar-normal">Buttons</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="sidebar-mini">GS</span>
                <span class="sidebar-normal">Grid System</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="sidebar-mini">P</span>
                <span class="sidebar-normal">Panels</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="sidebar-mini">SA</span>
                <span class="sidebar-normal">Sweet Alert</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="sidebar-mini">N</span>
                <span class="sidebar-normal">Notifications</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="sidebar-mini">I</span>
                <span class="sidebar-normal">Icons</span>
              </a>
            </li>
            <li class="active">
              <a href="#">
                <span class="sidebar-mini"><i class="ti-panel"></i></span>
                <span class="sidebar-normal">Typography</span>
              </a>
            </li>
          </ul>
        </div>
      </li>-->
      <!--<li>
        <a data-toggle="collapse" href="#formsExamples">
          <i class="ti-clipboard"></i>
          <p>
            Forms
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="formsExamples">
          <ul class="nav">
            <li>
              <a href="#">
                <span class="sidebar-mini">Rf</span>
                <span class="sidebar-normal">Regular Forms</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="sidebar-mini">Ef</span>
                <span class="sidebar-normal">Extended Forms</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="sidebar-mini">Vf</span>
                <span class="sidebar-normal">Validation Forms</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="sidebar-mini">W</span>
                <span class="sidebar-normal">Wizard</span>
              </a>
            </li>
          </ul>
        </div>
      </li>-->
      <!--<li>
        <a data-toggle="collapse" href="#tablesExamples">
          <i class="ti-view-list-alt"></i>
          <p>
            Table list
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="tablesExamples">
          <ul class="nav">
            <li>
              <a href="#">
                <span class="sidebar-mini">RT</span>
                <span class="sidebar-normal">Regular Tables</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="sidebar-mini">ET</span>
                <span class="sidebar-normal">Extended Tables</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="sidebar-mini">BT</span>
                <span class="sidebar-normal">Bootstrap Table</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="sidebar-mini">DT</span>
                <span class="sidebar-normal">DataTables.net</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <a data-toggle="collapse" href="#mapsExamples">
          <i class="ti-map"></i>
          <p>
            Maps
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="mapsExamples">
          <ul class="nav">
            <li>
              <a href="#">
                <span class="sidebar-mini">GM</span>
                <span class="sidebar-normal">Google Maps</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="sidebar-mini">VM</span>
                <span class="sidebar-normal">Vector maps</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="sidebar-mini">FSM</span>
                <span class="sidebar-normal">Full Screen Map</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <a href="#">
          <i class="ti-bar-chart-alt"></i>
          <p>Charts</p>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="ti-view-list-alt"></i>
          <p>Files</p>
        </a>
      </li>
      <li>
        <a data-toggle="collapse" href="#pagesExamples">
          <i class="ti-gift"></i>
          <p>
            Pages
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="pagesExamples">
          <ul class="nav">
            <li>
              <a href="#">
                <span class="sidebar-mini">TP</span>
                <span class="sidebar-normal">Timeline Page</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="sidebar-mini">UP</span>
                <span class="sidebar-normal">User Page</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="sidebar-mini">LP</span>
                <span class="sidebar-normal">Login Page</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="sidebar-mini">RP</span>
                <span class="sidebar-normal">Register Page</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="sidebar-mini">LSP</span>
                <span class="sidebar-normal">Lock Screen Page</span>
              </a>
            </li>
          </ul>
        </div>
      </li>-->
      {% endblock %}{# navigation #}
    </ul>
  </div>
</div>

<div class="main-panel">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-minimize">
        <button id="minimizeSidebar" class="btn btn-fill btn-icon"><i class="ti-more-alt"></i></button>
      </div>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar bar1"></span>
          <span class="icon-bar bar2"></span>
          <span class="icon-bar bar3"></span>
        </button>
        <a class="navbar-brand" href="#typography">{{ title }}</a>
      </div>
      <div class="collapse navbar-collapse">
        <form class="navbar-form navbar-left navbar-search-form" role="search">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
            <input type="text" value="" class="form-control" placeholder="Search...">
          </div>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#stats" class="dropdown-toggle btn-magnify" data-toggle="dropdown">
              <i class="ti-panel"></i>
              <p>Stats</p>
            </a>
          </li>
          <li class="dropdown">
            <a href="#notifications" class="dropdown-toggle btn-rotate" data-toggle="dropdown">
              <i class="ti-bell"></i>
              <span class="notification">5</span>
              <p class="hidden-md hidden-lg">
                Notifications
                <b class="caret"></b>
              </p>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#not1">Notification 1</a></li>
              <li><a href="#not2">Notification 2</a></li>
              <li><a href="#not3">Notification 3</a></li>
              <li><a href="#not4">Notification 4</a></li>
              <li><a href="#another">Another notification</a></li>
            </ul>
          </li>
          <li>
            <a href="#settings" class="btn-rotate">
              <i class="ti-settings"></i>
              <p class="hidden-md hidden-lg">
                Settings
              </p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="content">
    <div class="container-fluid">
      {% block main_content_area %}
      <div class="row">
        <div class="col-md-12 col-lg-4 col-lg-offset-4">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">{{ card_title }}</h4>
              {% if card_subtitle %}
              <p class="category">{{ card_subtitle }}</p>
              {% endif %}
            </div>
            <div class="card-content">
              {% block content %}
              {% endblock %}{# content #}
            </div>
          </div>
        </div>
        {% endblock %}{# main_content_area #}
      </div>
    </div>
  </div>

  <footer class="footer">

  </footer>
</div>
</div>
{% endblock %}{# body_content #}
